{% extends 'melodyMeter/base.html' %}
{% load static %}

{% block title_block %}
Albums
{% endblock %}

{% block body_block %}
	<div class="contentBox">
		<h1>Albums:</h1>
		{% if albums %}
		<div id="albumList">
			{% for album in albums %}
				<a href="{% url 'melodyMeter:show_album' album.slug %}" class="album">
					<div class="albumHeading">
						{{ album.name }} - {{ album.year }}
						{% if album.rating != 0 %}Aggregate Score: {{ album.rating }}{% endif %}
					</div>
					<div class="albumCover">
						<img src="{{ MEDIA_URL }}{{ album.cover }}" class="albumImg">
					</div>
				</a>
			{% endfor %}
		</div>
		{% else %}
			<strong>There are no albums present.</strong>
		{% endif %}
	</div>
{% endblock %}

{% block bottombar %}
	{% if not user.is_authenticated %}
		<li><a class="bar-entry" href="{% url 'melodyMeter:login' %}">Log-In</a></li>
		<li><a class="bar-entry" href="{% url 'melodyMeter:signup' %}">Sign-Up</a></li>
	{% else %}
		<li><a class="bar-entry" href="{% url 'melodyMeter:add-album' %}">Add a New Album</a></li>
	{% endif %}
{% endblock %}
