{% extends 'melodyMeter/base.html' %}
{% load static %}

{% block title_block %}
Albums
{% endblock %}

{% block body_block %}
	<div class="contentBox">
		<h1>Albums:</h1>
		{% if albums %}
		<ul>
			{% for album in albums %}
				<li>
					<a href="{% url 'melodyMeter:show_album' album.slug %}">{{ album.name }}</a>
				</li>
				<br />
			{% endfor %}
		</ul>
		{% else %}
		<strong>There are no albums present.</strong>
		{% endif %}
		<a href="{% url 'melodyMeter:add-album' %}">Add a New Album</a>
	</div>
{% endblock %}
