{% extends 'melodyMeter/base.html' %}
{% load static %}

{% block title_block %}
	MelodyMeter
{% endblock %}
{% block body_block %}
	<div class='contentBox'>
		{% if album %}
			<h1>{{ album.name }}</h1>
			{% if songs %}
				<ul>
					{% for song in songs %}
					<li>{{ song.name }}</a></li>
					<br />
					{% endfor %}
				</ul>
			{% else %}
				<strong>No songs currently in album.</strong>
			{% endif %}
		{% else %}
			The specified album does not exist.
		{% endif %}
	</div>
{% endblock %}
