{% extends 'melodyMeter/base.html' %}
{% load static %}

{% block title_block %}
	MelodyMeter
{% endblock %}

{% block body_block %}	
	<div class='contentBox'>
		<div class="popup" id="myPopup">Popup text</div>
		{% if album %}
		<h1>{{ album.name }} - {{ album.year }}</h1>
		<h3>{% if album.rating != 0 %} Avg. Rating: {{ album.rating }}{% endif %}</h3>
		<h3>{% if userRating and userRating != 0 %} Your Rating: {{ userRating }}{% endif %}</h3>
			{% if songs %}
				<table id="songList">
					{% for song in songs %}
						<tr>
							<td class="songName">{{ song.0.name }}</td>
							<td class="songRating">
								<form action="{% url 'melodyMeter:rate-song' album.slug song.0.id %}" method='post' class='rating'>
									{% csrf_token %}
									{% for rating in "54321" %}
										<input type="radio" id="{{ song.0.id }}_star{{ rating }}" name="{{ song.0.id }}_rating" value="{{ rating }}" {% if song.1 == rating|add:"0" %}checked{% endif %}/>
										<label for="{{ song.0.id }}_star{{ rating }}" title="{{ rating }} stars"></label>
									{% endfor %}
								</form>
							</td>
							<td class="songLyrics">
								<button class="alertButton" 
									data-artist="{{ album.artist }}" 
									data-song-id="{{ song.name }}" 
									type="button">Lyrics
								</button>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<strong>No songs currently in album.</strong>
			{% endif %}
		{% else %}
			The specified album does not exist.
		{% endif %}
	</div>

	<script>

		var radioButtons = document.querySelectorAll('.rating')

		radioButtons.forEach(function(form) {
			form.addEventListener('click', function(event) {
				console.log('button clicked')
				if (event.target.matches('input[type="radio"]')) {
					console.log('submitting form')
					form.submit();
				}
			});
		});

		function myFunction() {
			var popup = document.getElementById("myPopup");
                        popup.innerHTML = '';
			popup.classList.toggle("show");
		}

		document.addEventListener('DOMContentLoaded', function() {
			document.getElementById('songList').addEventListener('click', function(event) {
				console.log("Button clicked");
				if (event.target.classList.contains('alertButton')) {
					var songId = event.target.dataset.songId;
					var artist = event.target.dataset.artist;
					console.log("Song ID:", songId);
					console.log("Artist:", artist);

					var xhr = new XMLHttpRequest();
					xhr.onreadystatechange = function() {
						if (xhr.readyState === XMLHttpRequest.DONE) {
							if (xhr.status === 200) {
								console.log("Response recieved:", xhr.responseText);
								//alert('Popup should show!');
								var response = JSON.parse(xhr.responseText);
								var popup = document.getElementById("myPopup");
								popup.innerHTML = '<button onclick="myFunction()" class="close">X</button><h1>Lyrics</h1>' + response.alert_contents.replace(/\n/g, '<br />');
								popup.classList.toggle("show");
								//popup.style.visibility = "visible";
							} else {
								console.error('Request failed with status:', xhr.status);
							}
						}
					};
					xhr.open('GET', "{% url 'melodyMeter:get_alert_contents' %}?song_id=" + songId + "&artist=" + artist, true);
					xhr.send();
				}
			});
		});
	</script>
{% endblock %}
