<!DOCTYPE html>
{% load static %}

<html>
	<head lang="en">
		<link rel="stylesheet" href="{% static 'melodyMeter/css/base.css' %}">
		<meta charset="UTF-8" />
		<title>
			Melody Meter - 
			{% block title_block %}
			Default Title
			{% endblock %}
		</title>
	</head>

	<body>
		<ul id="top-bar">
			<li><a class="bar-entry" href="{% url 'melodyMeter:index' %}"><img src="{% static 'melodyMeter/home.png' %}" height=100px></a></li>
			<li style="float: none; display: inline-block; vertical-align: middle" class="bar-entry"><strong>MELODY METER</strong></li>
			<li style="float:right"><a class="bar-entry" href="{% url 'melodyMeter:profile' %}"><img src="{% static 'melodyMeter/profile.png' %}" height=100px></a></li>
		</ul>
		
		<br />
		
		<div id="container">
			{% block body_block %}
			This is the default content
			{% endblock %}
		</div>
				
		<br />
		
		<div id="bottom-bar">
			<ul>
				{% block bottombar %}
				{% endblock%}
				<!--<li><a class="bar-entry" href="{% url 'melodyMeter:albums' %}">Albums</a></li>
				<li><a class="bar-entry" href="{% url 'melodyMeter:login' %}">Log-In</a></li>
				<li><a class="bar-entry" href="{% url 'melodyMeter:signup' %}">Sign-Up</a></li>-->
			</ul>
		</div>
		<br /><br /><br />
	</body>
</html>
