{% extends 'melodyMeter/base.html' %}
{% load static %}

{% block title_block %}
Edit Profile
{% endblock %}

{% block body_block %}
	<div class="contentBox">
	    <h1>Edit Profile</h1>
	    <div class="edit-profile-container">
		<form method="POST" enctype="multipart/form-data" class="edit-profile-form">
		    {% csrf_token %}
		    <!-- Profile picture upload with preview -->
		    <div class="form-group">
			<label for="id_picture">Profile Picture</label>
			<input type="file" name="picture" accept="image/*" id="id_picture" onchange="previewImage(event)">
			<img id="profile-preview" src="{{ user.userprofile.picture.url }}" alt="Profile Image Preview" />
		    </div>
		    
		    <!-- Bio field -->
		    <div class="form-group">
			<label for="id_bio">Bio</label>
			<textarea name="bio" id="id_bio" class="form-control">{{ form.bio.value|default_if_none:"" }}</textarea>
		    </div>
		    
		    <!-- Save changes button -->
		    <button type="submit" class="btn btn-primary">Save changes</button>
		</form>
	    </div>
	</div>

	<script>
	// Function to preview image before uploading
	function previewImage(event) {
	    var reader = new FileReader();
	    reader.onload = function(){
		var output = document.getElementById('profile-preview');
		output.src = reader.result;
	    };
	    reader.readAsDataURL(event.target.files[0]);
	}
	</script>
{% endblock %}
