{% extends 'melodyMeter/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}
{% block additional_styles %}
<style>
	#Sign{
        
        font-size: 35px; /* Increase font size for better visibility */
    }
	input[type="submit"] {
        padding: 10px 20px; /* Increase padding to make the button larger */
        font-size: 35px; /* Increase font size for better visibility */
        margin: 10px 0; /* Add some space around the button */
        cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
        border: none; /* Optional: Remove border */
        border-radius: 5px; /* Optional: Add rounded corners */
        background-color: #26fa0a; /* Optional: Change background color */
        color: white; }
</style>
{% endblock %}

{% block body_block %}
<div id="Sign">
	<h1>Register for MelodyMeter</h1>
	{% if registered %}
	Thanks for registering!
	{% else %}
	Register here!
	<form id="user_form" method="post" action="{% url 'melodyMeter:signup' %}" enctype="multipart/form-data">
		{% csrf_token %}
		{{ user_form.as_p }}
		{{ profile_form.as_p }}

		<input type="submit" value="Register" />
	</form>
	{% endif %}
</div>
{% endblock %}
