/* Home Page CSS */
#Home {
	color: rgb(0, 255, 106);

	
	border-radius: 25px;
	padding: 20px;
	font-size: 50px;
	margin-top: 10px;
}


#container {
	display: flex;
	/*height: 100%;*/
	margin: 50px;
}


br {
	display:block;
	margin-top:150px;
	line-height:150px;
	content: '';
}


body {
	margin: 10;
	padding: 10;
	background-image: url("static/melodyMeter/bgimage.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#content {
	width: 100%;
	list-style-type: none;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Navbars CSS */
#bottom-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#bottom-bar {
	font-size: 20px;
	
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	width: fit-content;
	margin: auto;
	padding: 0;

}

#top-bar {
	font-size: 40px;
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
  	margin: 5px;
  	padding: 5px;
  	overflow: hidden;
  	background-color: #73272b;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

li {
  	float: left;
	text: center;
	justify-content: center;
	/*display: inline-block;*/
}

.bar-entry {
  	display: block;
  	color: rgb(9, 243, 48);
  	text-align: center;
	justify-content: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

.bar-entry strong {
	font-size: 50px;
}

li a.bar-entry:hover {
	border-radius: 50px;
  	background-color: #000099;
}

#menuIcon{
	cursor: pointer;
	float: right;
	list-style-type: none;
	position: relative;
}

#menuIcon{
	color: white;
	text-decoration: none;
	display: block;
	padding: 8px;

}


#top-bar li {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
}

#profileDropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	min-width: 160px;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown-toggle:hover .dropdown-content {
	display: block;
}

.dropdown-toggle, .dropdown-content a {
	/* Styling for the dropdown trigger and links */
	color: #333; /* Text color */
	text-align: center;
}




#Sign{
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 8px;
	color: rgb(94, 243, 9);
}

#login_form{
	text-align: center;
	width: 100%;
}

